# Chuyển hướng các trang không tồn tại đến index.php

# Cần cho phép RewriteEngine runtime để sử dụng RewriteRule
RewriteEngine On

# Thực hiện RewriteRule nếu REQUEST_FILENAME không phải là một thư mục & file đã tồn tại
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^ index.php